
.image{
  align-items: center;
}
.item {
  width: 100%;
  padding: 15px 20px;
  border-left: 4px solid hsl(210, 10%, 75%);
  background-color: white;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
}

.item--borderColor {
  border-color: black;
  box-shadow: 0 6px 18px -9px hsl(210, 15%, 65%);
}

.item__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.item__body p {
  margin: 10px 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.item__buttons {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  align-items: center;
}

.item_viewButton {
  width: 12%;
  height: 12%;
  display: flex;
  justify-content: center;
  color: black;
}

.item__buttons>button {
  background-color: hsl(210, 100%, 2%);
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: white;
}



.item__buttons>button:hover {
  background-color: hsl(210, 20%, 25%);
}

.item__buttons>button:active {
  background-color: hsl(210, 70%, 60%);
}

.item__deleteNedit button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: hsl(0, 0%, 0%);
}

.item__editButton:hover {
  color: hsl(209, 19%, 34%);
}

.item__editButton:active {
  color: hsl(210, 100%, 2%);
}

.item__deleteNedit .item__deleteButton {
  color: hsl(0, 93%, 50%);
}

.item__deleteButton:hover {
  color: hsl(0, 70%, 70%);
}

.item__deleteButton:active {
  color: hsl(0, 80%, 80%);
}